# Default owners for all files
* @hectorhdzg @JacksonWeber @lzchen @MSNev @rads-1996 @jeremydvoss

# A365 co-owners
/src/microsoft/opentelemetry/a365/ @hectorhdzg @JacksonWeber @lzchen @MSNev @rads-1996 @jeremydvoss @nikhilNava @juliomenendez

# LangChain instrumentation co-owners
/src/microsoft/opentelemetry/_genai/_langchain/ @hectorhdzg @JacksonWeber @lzchen @MSNev @rads-1996 @jeremydvoss @nagkumar91
