[main]
py-version = 3.10

[format]
max-line-length = 120

[messages_control]
disable =
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    import-outside-toplevel,
    import-error,
    no-name-in-module,
    duplicate-code,
    too-few-public-methods,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    wrong-import-order,
    ungrouped-imports,
    unknown-option-value,
    fixme,
    invalid-name,
    protected-access,
    too-many-public-methods,
    too-many-lines,
